<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/Home']">Home</a></li>
        <li><a [routerLink]="['/Phone-Book']" *ngIf="auth.loggedIn">Phone Book</a></li>
        <li><a [routerLink]="['/Groups']" *ngIf="auth.loggedIn">Groups</a></li>
        <li><a class="nav-link" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a></li>
      </ul>
      <span style="float:right; padding-top:12px;" *ngIf="auth.loggedIn">Welcome : {{globals.loggedInUser}}</span>
    </div>
  </nav>

<router-outlet></router-outlet>
  </div>
